.photo-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.photo-description img {
    border-radius: 20px;
}

.photo-description span {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture-right {
    flex-direction: row-reverse;
}