.large-photo {
    width: 100vw;
    height: 60vh;
    background-image: url(/home/principal/home-photo.jpeg);
    background-size: cover;
    background-position: center 30%;
    display: flex;
    justify-content: space-around;
}

.large-photo .large-photo-container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.large-photo .large-photo-container .text-container {
    width: 26%;
}

.large-photo .large-photo-container .text-container h2 {
    color: var(--global-secondary-color);
    text-align: end;
    border-color: var(--global-secondary-color);
}

.large-photo .large-photo-container .text-container h4 {
    color: var(--global-secondary-color);
    text-align: end;
}