.product-principal-container {
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.product-container {
    max-width: 1440px;
    width: 100%;
}

.product-container .product-description {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-container .product-description .product-carousel {
    height: 70vh;
    width: 30vw;
}

.product-container .product-description .product-informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.product-container .product-description .product-informations button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.product-container .navigation-container {
    display: flex;
    justify-content: space-between;
}

.product-container .navigation-container button {
    color: var(--global-primary-color);
    display: flex;
}

.product-container .navigation-container button:hover {
    cursor: pointer;
}

.product-container .propositions-container {
    margin-bottom: 40px;
}

.product-container .propositions-container .title {
    margin-bottom: 20px;
}

.product-container .propositions-container .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    gap: 16px;
}

.product-container .propositions-container .products .collection-element {
    height: 220px;
    width: 180px;
    border-radius: 10%;
    margin-left: 45px;
}

.product-container .propositions-container .products .collection-element img {
    height: 200px;
    width: 180px;
    border-radius: 10%;
}