.header {
    background-color: var(--header-background-color);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
}

.header .header-container {
    max-width: var(--global-max-width);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header .header-container button:hover {
    cursor: pointer;
}

.header .header-container a:hover {
    cursor: pointer;
}

.header .header-container .header-navigations {
    display: flex;
    align-items: center;
    color: var(--global-secondary-color);
} 

.header .header-container .header-navigations .sublink {
    min-width: 90px;
}

.header .header-container .header-navigations svg {
    width: 25px;
    height: 25px;
}

.header .header-container .header-logo-container .header-logo .logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    fill: var(--global-secondary-color);
}

.header .header-container .header-logo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -9%;
}

.header .header-container .header-logo-container .header-logo {
    background-color: var(--header-background-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header .header-container .header-logo-container .soft-curve {
  position: relative;
  left: 5%;
  top: -14px;
  background-color: var(--header-background-color);
  width: 31px;
  height: 85px;
  clip-path: path("M0 30 H245 V173 Q8 0 0 99 Z");  
}

.header .header-container .header-logo-container .soft-curve-left {
    transform: scaleX(-1);
}

.header .header-container .header-logo-container .soft-curve-right {
    left: -5%;
}

.header .header-container .header-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-container .header-contacts svg {
    color: var(--global-secondary-color);
    width: 25px;
    height: 25px;
}