.footer-principal-container {
    width: 100%;
    background-color: var(--global-primary-color);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    color: var(--global-secondary-color);
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container .footer-networks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container .footer-networks div a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-container .footer-networks .logo {
    width: 150px;
    height: 150px;
}