.collection-carroussel-principal-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
}

.collection-carroussel-container {
    width: 100%;
    max-width: 1440px;
}

.collection-carroussel-container a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.collection-carroussel-container a img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}