.photos-container {
    width: 100%;
}

.photos-container div {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.photos-container img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}